certifi==2023.7.22
cffi==1.15.0
chardet==5.2.0
charset-normalizer==3.3.2
ConfigArgParse==1.5.3
configobj==5.0.6
cryptography==42.0.4
dirutility==0.7.20
distro==1.7.0
idna==3.3
josepy==1.13.0
looptools==1.2.4
parsedatetime==2.6
pycparser==2.21
pyOpenSSL==22.0.0
pyRFC3339==1.1
pytz==2021.3
requests==2.31.0
requests-toolbelt==0.9.1
six==1.16.0
tqdm==4.66.2
urllib3==1.26.18
zope.component==5.0.1
zope.event==5.0
zope.hookable==5.1.0
zope.interface==5.4.0
