language: ruby

services:
  - docker

env:
  matrix:
    - TAG=v1
    - TAG=v2
    - TAG=v3
    - TAG=v4
    - TAG=v5
    - TAG=v6
    - TAG=v7
    - TAG=v8

script:
  - echo "${TAG}/"
  - docker build -t stephenneal/certbot-nginx:${TAG} /"${TAG}"/

after_script:
  - docker images
