certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
ConfigArgParse==1.7
configobj==5.0.8
cryptography==42.0.7
dirutility==0.7.20
distro==1.9.0
funcsigs==1.0.2
idna==3.7
ipaddress==1.0.23
josepy==1.14.0
looptools==1.2.4
mock==5.1.0
parsedatetime==2.6
pbr==5.4.5
pycparser==2.21
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyRFC3339==1.1
python-augeas==0.5.0
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
tqdm==4.66.4
urllib3==1.26.18
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==4.4.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.3
zope.proxy==4.3.5
