-r requirements-base.txt
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
ConfigArgParse==1.7
configobj==5.0.9
cryptography==43.0.3
distro==1.9.0
funcsigs==1.0.2
idna==3.10
ipaddress==1.0.23
josepy==1.15.0
looptools==1.2.4
mock==5.1.0
parsedatetime==2.6
pbr==6.1.1
pycparser==2.21
pyOpenSSL==25.0.0
pyparsing==3.1.4; python_version < "3.9"
pyparsing==3.2.1; python_version >= "3.9"
pyRFC3339==2.0.1
python-augeas==0.5.0
pytz==2025.1
requests-toolbelt==1.0.0
six>=1.16.0
tqdm==4.67.1
urllib3==2.2.3; python_version < "3.9"
urllib3==2.3.0; python_version >= "3.9"
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.proxy==6.1
