-r requirements-base.txt
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ConfigArgParse==1.7
configobj==5.0.9
cryptography==45.0.4
distro==1.9.0
idna==3.10
josepy==1.15.0; python_version < "3.9"
josepy==2.0.0; python_version >= "3.9"
looptools==1.2.4
parsedatetime==2.6
pycparser==2.21
pyOpenSSL==25.0.0
pyRFC3339==2.0.1
pytz==2025.2
requests-toolbelt==1.0.0
six>=1.16.0
tqdm==4.67.1
urllib3==2.2.3; python_version < "3.9"
urllib3==2.3.0; python_version >= "3.9"
zope.component==6.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
