certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
ConfigArgParse==1.7
configobj==5.0.8
cryptography==42.0.7
dirutility==0.7.20
distro==1.9.0
idna==3.7
josepy==1.14.0
looptools==1.2.4
parsedatetime==2.6
pycparser==2.21
pyOpenSSL==24.1.0
pyRFC3339==1.1
pytz==2024.1
requests==2.32.2
requests-toolbelt==1.0.0
six>=1.16.0
tqdm==4.66.4
urllib3==2.2.1
zope.component==6.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.3
