name: Docker Push

on:
  release:
    types: [published]

jobs:
  push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: ["linux/amd64,linux/arm64"]
        tag: [
          v7,
          v8,
          v9,
          v10,
          v12,
          v13,
          v14,
          v15,
        ]

    name: ${{ matrix.tag }} | ${{ matrix.platform }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Docker buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Authenticate Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker Image
        run: bash push.sh ${{ matrix.tag }} ${{ matrix.platform }}

      - name: Show Docker Images
        run: docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}}\t{{.Size}}'